*{
  padding: 0%;
  margin: 0;
  box-sizing:border-box;
}
:root {
  --primary:#3742FA;
  --dark:#2934E1;
  --shade:#7B7B7B; 
  --glass:#212AC6;
}
  header {
    padding: 0.5em 2em;
  }
  header div {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
 
  }
  .post {
    background-color: var(--glass);
  }
.splash {
  width: 100vw;
  height: 100vh;
  background-color:var(--primary);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.img {
  width: 50%;

}
.proceed {
  background-color: var(--dark)  !important;
  border: none !important;
  outline: none;
}
.user-datail{
  display: flex;
  justify-content: space-between;
 
}
.post form {
  display: flex;
  max-width: 100%;
}
.post form button {
  position: absolute;
  
}



/* mobile view  */
@media screen and (max-width:720px) {

  .splash {}
  .splash img {
    width:50%;
  }
  .user-datail span {
    display: inline-flex;
    
  }

  .left , .right {
    display: none;
  }
  /* make the top bar fixed */
  .middle-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 1em 1em;
    
  }
  .middle-top   .upper {
    display: none;
  }
  .middle-top > span {
   
    display: flex;
    justify-content: space-between;
     padding: 0.5em 1.5em;
    
    
  }
    .menu {
    float: right;
  }



}
 /* desktop vesion */
 @media screen and (min-width:721px) {
  .splash img {
    width:30%;
  }
  .menu {
    display: none;
  }

 }