*{
  padding: 0%;
  margin: 0;
  box-sizing:border-box;
}
:root {
  --primary:#3742FA;
  --dark:#2934E1;
  --shade:#7B7B7B; 
  --glass:#212AC6;
}
.post-part {
  
}
.stories {

  padding: 1em;
  max-width: 100%;
  box-shadow: 1px 2px 13px #80808042;
  margin-bottom: 2em;
  border-radius: 5px 5px 5px 5px;
}
.icon {
  
  cursor: pointer;
}
.camera {
  cursor: pointer;
}
.cam-card {
  padding: 2em;
}
  header {
    padding: 0.5em 2em;
  }
  header div {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
 
  }
  .post {

    border-radius:0.5em ;
    margin-left: 0.2em;
  }
 
.splash {
  width: 100vw;
  height: 100vh;
  background-color:var(--primary);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.img {
  width: 50%;

}
.proceed {
  background-color: var(--dark)  !important;
  border: none !important;
  outline: none;
}
.user-datail{
  display: flex;
  justify-content: space-between;
 
}

.post form {
  display: flex;
  max-width: 100%;
  margin-top: 1em;
}
.post form button {
  position: relative;
  right: 0;
  z-index: 1;

  
}



/* mobile view  */
@media screen and (max-width:720px) {

  .splash {}
  .splash img {
    width:50%;
  }
  .side {
    background-color: #090b38b2;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 15em;
    z-index: 1;
  }
  .side div {
    display: flex;
    justify-content: center;
    
    
  }
  .side ul {
    list-style-type: none;
    font-weight: bold;
    
  }
  .side ul li {
    text-transform: uppercase;
    color: #fff;
  }

  .user-datail span {
    display: inline-flex;
    
  }

  .left , .right {
    display: none;
  }
  /* make the top bar fixed */
  .middle-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 1em 1em;
    
  }
  .middle-top   .upper {
    display: none;
  }
  .middle-top > span {
   
    display: flex;
    justify-content: space-between;
     padding: 0.5em 1.5em;
    
    
  }
    .menu {
    float: right;
  }



}
 /* desktop vesion */
 @media screen and (min-width:721px) {
  .splash img {
    width:30%;
  }
  .menu {
    display: none;
  }
  .sidebar {
    display: none;
  }

 }